<!-- modify this form HTML and place wherever you want your form -->
<form
  action="https://formspree.io/f/xeeejryg"
  method="POST"
  enctype="multipart/form-data"
  class="fs-form"
>

<div class="fs-field">
  <label class="fs-label" for="name">Full Name</label>
  <input class="fs-input" id="name" name="name" required />
</div>

<div class="fs-field">
  <label class="fs-label" for="email">Email</label>
  <input class="fs-input" id="email" name="email" required />
</div>
<div class="fs-field">
  <label class="fs-label" for="foto">Foto uploaden:</label>
    <input type="file" id="upload" name="upload">
<div/>

<div class="fs-field">
  <label class="fs-label" for="boodschap">Uw boodschap</label>
  <textarea class="fs-input" id="message" name="message"></textarea>
</div>

<div class="fs-button-group">
  <button class="fs-button" type="submit">Submit</button>
</div>
